*{
	font-family:'微软雅黑', Verdana, Arial, Helvetica, sans-serif;	
	color:#663366;
	border-color:#CCCCCC;
}
#wrapper
{	
	margin: 0 auto;
	width:800px;
	
}
#header{
	float:left;
	width:265px;
	height:30px;
	margin: 0px 0px 0px 5px;
	padding:0px 0px 0px 30px;
	background-color:#CCC;
	line-height:30px;
	font-size: 20px;
	white-space: nowrap;
	text-shadow:0 0 1px #999;
}
.part{
	width: 500px;
	display:inline-block;
	top:0px;
	margin:0px;
	height:705px;
	float:left;
}
#tip{
	float:left;
	margin: 0px 0px 0px 0px;
	width: 494px;
	height: 24px;
	inline-height:24px;
	border: 3px dashed #CCCCCC;
	font-size: 20px;
	text-align: center;
	white-space: nowrap;
	text-shadow:0 0 1px #999;
}

#board{
	float:left;
	margin: 5px 0px 0px 0px;
	width:488px;
	height:488px;
	border:6px outset;
}

.box{
	border: 3px  ridge #CC99CC;
	float: left;
	margin: 12px 0px 0px 12px;
	outline: #FFF solid 6px ;
	animation:none;
	outline: #CCCCCC solid 0px;
}
#txt{
	float:left;
	width: 200px;
	height: 60 px;
	margin: 30px 0px 0px 0px;
	padding:0px 0px 0px 10px;
	font-size: 25px;
	line-height: 30px;
	font-weight:bold;	
	text-shadow:-5px 0px 2px #CCC;
}

#start{
	display:block;
	float:left;
	background:#fff;
	margin:30px 0px 0px 0px;
	width: 90px;
	height: 60px;
	font-size: 40px;
	font-weight:bold;	
	text-align:right;
	text-shadow:-5px 0px 2px #CCC;
}

#control
{
	float:left;
	width:500px;
	
}
.dir{
	float:left;
	width:150px;
	height:92px;
	font-size:70px;
	font-weight: bolder;
	text-align:center;
	background:#CCCCCC;
	line-height:82px;
}
#up{
	margin: 5px 175px 5px 175px;
}

#lf{
	margin: 0px 5px 5px 15px;
}
#dn{
	margin: 0px 5px 5px 5px;
}
#rt{
	margin: 0px 15px 5px 5px;
}

#div2{
	width: 300px;
}

#rankListTitle {
	width:200px;
	height:70px;
	float:left;
	text-align: center;
	line-height: 70px;
	margin: 20px auto 10px 50px;
	font-size: 36px;
	font-weight: bold;
	background: #CCCCCC;
	color: #ffffff;
	border-radius: 5px;
	transition-property: transform,background,font-size,opcity,border-radius;
	transition-duration: 1s;
	top: -1px;
}

#rankListTitle:hover{
	background-attachment: scroll;
	background: #F00;
  	color: #ffffff;
	opacity:0.55;
	font-size:50px;
	border-radius: 20px;	
	transform: rotate(360deg);
}
#Rank
{
	float:left;
	width:300px;
	font-size: 20px;
	font-weight: bold;

}
table
{
	width:300px;
	table-layout:fixed;	
}
table td
{
	line-height:40px;
	text-align:center;
	width:150px;
	overflow:hidden;
	
}
#footer
{	
	clear:both;
	text-align:center
}
	
@keyframes occur1
{
	0%{border: 3px  solid #663366; outline: #663366 solid 12px;}
	50%{outline-width:10px;}
	75%{outline-width:8px;}
	85%{outline-width:6px;}
	90%{outline-width:4px;}
	95%{outline-width:2px;}
	100%{border: 3px  ridge #CC99CC; outline: #FFF solid 0px ;}
}
	
@keyframes change1
{
	0%{border: 3px  solid #F00; outline: #F00 solid 12px ;}
	50%{outline-width:10px;}
	75%{outline-width:8px;}
	85%{outline-width:6px;}
	90%{outline-width:4px;}
	95%{outline-width:2px;}
	100%{border: 3px  ridge #CC99CC; outline: #FFF solid 0px ;}
}
@keyframes occur2
{
	0%{border: 3px  solid #663366; outline: #663366 solid 12px;}
	50%{outline-width:10px;}
	75%{outline-width:8px;}
	85%{outline-width:6px;}
	90%{outline-width:4px;}
	95%{outline-width:2px;}
	100%{border: 3px  ridge #CC99CC; outline: #FFF solid 0px ;}
}
	
@keyframes change2
{
	0%{border: 3px  solid #F00; outline: #F00 solid 12px ;}
	50%{outline-width:10px;}
	75%{outline-width:8px;}
	85%{outline-width:6px;}
	90%{outline-width:4px;}
	95%{outline-width:2px;}
	100%{border: 3px  ridge #CC99CC; outline: #FFF solid 0px ;}
}
